@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(#0b004e, #1d152f, #002834);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  color: #f1f5f9; /* Equivalent to text-stone-50 in Tailwind */
}